#@timlavelle:registry=http://localhost:4873
#//localhost:4873/:_authToken=OTcxNTIwZTAzZTAwM2RiNTIwODM1OWE4OGYyNjdhYjc6NGUwNjg1YjkxMWIwOGY5NzUxZTgxMTM3YWJkYWEzYzlmNzNmNWRjNzY0NmVkYzNmZmIyM2Q3
@timlavelle:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}